@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: hsl(0, 0%, 91%);
    --elements-color: hsl(0, 0%, 92%);
    --elements-color-hover: hsl(0, 0%, 84%);
    --text-color: hsl(0, 0%, 0%);
    --creative-element: hsl(16, 100%, 74%);
    --creative-element-hover: hsl(16, 100%, 79%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --creative-element-2: rgb(209, 117, 78);
    --creative-element-2-hover: rgb(231, 150, 116);
}

body, html{
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}

a{
    padding: 0 !important;
}

.nav{
    display: block;
    height: 3rem;
    width: 100%;
    background-color: var(--elements-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
    margin-bottom: 2rem;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: transparent;
    height: 100%;
    padding: 0.5rem 2rem;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.logo{
    height: 50%;
    object-fit: contain;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link{
    position: relative;
    display: block;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.cart{
    display: block;
    position: relative;
}

/* .cart::after{
    display: inline-block;
    position: absolute;
    content: ".-.";
    bottom: -9px;
    left: 50%;
    transform: translateX(calc(-50% + 4px));
    color: var(--text-color);
} */

.cart-number, .cart-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 0.75rem;
    width: 0.75rem;
    font-size: 0.5rem;
    color: var(--white);
    padding: 0 !important;
    cursor: pointer;
}

.cart-number{
    position: absolute;
    right: 0px;
    bottom: -8px;
    background-color: var(--creative-element);
    z-index: 999;
}

.cart-arrow{
    position: absolute;
    right: 0px;
    top: -8px;
    background-color: var(--creative-element);
    z-index: 999;
}

/* .cart-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    list-style-type: none;
    z-index: 999;
}

.cart-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    background-color: var(--elements-color);
}

.cart-item-image{
    min-width: 75px;
    min-height: 50px;
    object-fit: contain;
}

.cart-item-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-title{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.cart-item-description{
    font-size: 1rem;
    font-weight: 300;
    max-height: 80px;
    color: var(--text-color);
    overflow-y: hidden;
}

.cart-item-buttons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.cart-item-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 0.25rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.403);
    outline: none;
    cursor: default;
}

.cart-item-add, .cart-item-drop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

.cart-item-add{
    background-color: green;
}

.cart-item-drop{
    background-color: red;
} */

.nav-link::before{
    display: none;
    content: " ";
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.nav-link:hover .nav-link::after{
    display: block;
    width: 100%;
}

.hamburger{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: var(--elements-color);
}

.hamburger:hover{
    background-color: var(--elements-color-hover);
}

.hamburger-icon{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.hamburger-list{
    position: absolute;
    top: 100%;
    right: 0%;
}

.hamburger-link{
    display: block;
    width: 150px;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
    padding: 0.5rem;
    background-color: var(--elements-color);
}

.hamburger-link:hover{
    background-color: var(--elements-color-hover);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header h1{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header p{
    display: block;
    font-size: 1.25rem;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    font-weight: 300;
}

.main{
    position: relative;
    display: grid;
    justify-items: space-between;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    padding: 1rem;
    padding-top: 2rem;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.sidebar{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: 350px;
    height: 750px;
    background-color: var(--elements-color);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.047);

}

.list-title{
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.list-of-radios{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.list-of-radios li{
    width: 100%;
    padding: 1rem;
    background-color: var(--elements-color);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
}

.list-of-radios li:hover{
    background-color: var(--elements-color-hover);
}

.rolled{
    position: relative;
}

.rolled-title{
    position: relative;
    display: block;
    width: 100%;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--elements-color);
    text-align-last: left;
}

.rolled-title::before{
    content: "↓";
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    font-weight: 400;
}

.rolled-title:hover{
    background-color: var(--elements-color-hover);
}

.rolled-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.rolled-list{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
}

.sidebar-button{
    width: 90%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--creative-element-2);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.077);
    cursor: pointer;
}

.sidebar-button:hover{
    background-color: var(--creative-element-2-hover);
}

.products-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 750px;
    gap: 2rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
    width: 100%;
    background: var(--white);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.095);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.047);
    overflow: hidden;
    padding-bottom: 2rem;
}

.product *{
    padding: 0 1rem;
}

.product-image{
    height: 150px;
    object-fit: contain;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 6px 6px rgba(0, 0, 0, 0.052);
    padding: 0;
}

.product-title{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0.5rem;
}

.product-description{
    position: relative;
    text-align: left;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
    max-height: 7rem;
    margin: 1.5rem;
    overflow-y: hidden;
}

/* .product-description::after{
    display: block;
    content: "...";
    text-align: center;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.15);
} */

.product-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
    padding: 1rem;
    background-color: var(--creative-element);
    border: 1px solid rgba(0, 0, 0, 0.099);
    border-radius: 5px;
    cursor: pointer;
}

.product-button:hover{
    background-color: var(--creative-element-hover);
}

.product-button::before{
    display: block;
    content: "+";
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--white);
}

.stepbar{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.stepbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--creative-element-2);
    font-size: 1rem;
    padding: 1rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

.footer-container{
    display: block;
    width: 100%;
    background-color: var(--black);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: transparent;
    padding: 1rem;
    margin-top: 2rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link{
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 600;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social{
    position: relative;
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid white;
    border-radius: 7px;
    overflow: hidden;
}

.social:hover{
    transform: scale(1.25);
}

.social-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--white);
}
.copyrights{
    display: block;
    color: gray;
    font-size: 1rem;
    padding: 1rem;
}

.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1440px;
    padding: 1rem;
}

.cart-no-item{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.cart-item{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.074);
    background-color: var(--elements-color);
}

.cart *{
    padding: 0 1rem;
}

.cart-image{
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding: 0;
    margin-bottom: 1rem;
}

.cart-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.cart-description{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 1rem;
}

.cart-buttons{
    width: 100%;
    display: flex;
    align-items: center; 
    gap: 1rem;
    padding: 1rem;
}

.amount{
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.146);
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    min-width: 100px;
    cursor: default;
}

.toggle-amount{
    display: flex;
    gap: 0.5rem;
}

.plus, .minus{
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--white);
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.105);
    cursor: pointer;
}

.plus{
    background-color: green;
}
.plus:hover{
    background-color: rgb(0, 169, 0);
}

.minus{
    background-color: red;
}

.minus:hover{
    background-color: rgb(255, 59, 59);
}

.remove{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.hidden{
    display: none !important;
}

@media (max-width: 1050px){
    .products{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-container{
        align-items: center;
        flex-direction: column-reverse;
        width: auto;
        margin: 0 auto;
    }
    .product{
        max-width: 500px;
    }

    .stepbar{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .sidebar{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        transform: translateX(0);
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}
